PORT=4000
PGHOST=postgres
PGPORT=5432
PGDATABASE=goneops
PGUSER=goneops
PGPASSWORD=goneops
REDIS_HOST=redis
REDIS_PORT=6379
RABBITMQ_URL=amqp://goneops:goneops@rabbitmq:5672
SANDBOX_BASE_DIR=/tmp/goneops-sandboxes
SANDBOX_PORT_BASE=20000
NODE_ENV=development
